.customer-review-slider {
	display: flex;
	flex-wrap: wrap;
	.customer-review-card {
		padding: 30px;
    margin: 10px;
		border: 1px solid #e6e6e6;
		text-align: center;
	}
	.ratings {
		svg {
			font-size: 2rem;
			color: #e66b00;
		}
	}
	.purchased {
		font-size: 0.75rem;
		a {
			text-decoration: none;
		}
	}
	.comments {
		font-size: 0.75rem;
		line-height: 25px;
	}
	.client-name {
		width: fit-content;
		margin: 0 auto !important;
		font-size: 1.25rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-bottom: 1px solid black;
	}
}
