.navbar-container {
	position: fixed;
	z-index: 2;
	width: 100%;
	.free-shipping {
		text-align: center;
		background-color: black;
		text-transform: uppercase;
		padding: 7px;
		letter-spacing: 1px;
		font-size: 0.9rem;
		transition: 0.2s all;
	}
	.navbar-content {
		margin: 0 !important;
		z-index: 1000;
		background-color: white;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		justify-content: space-between;
		transition: 0.2s all;
	}
	.navbar-left-item {
		display: flex;
		align-items: center;
		svg {
			margin: 10px;
			cursor: pointer;
			&:nth-child(1) {
				font-size: 1.25rem;
			}
		}
	}
	.scrollPosition {
		position: fixed;
		left: 0;
		transform: translateY(-30%);
	}
	.scrollShipping {
		transform: translateY(-100%);
	}
}
@media (max-width: 1200px) {
	.navbar-left-item {
		display: flex !important;
	}
	.scrollPosition {
		transform: translateY(-50%) !important;
	}
}
@media (max-width: 576px) {
	.navbar-left-item {
		width: fit-content;
	}
}
