.menu-items {
	.menu-items-content {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.account {
			display: flex;
			align-items: center;
			margin: 0 10px;
			text-transform: uppercase;
			font-size: 0.75rem;
			font-weight: 500;
			cursor: pointer;
			svg {
				font-size: 1.25rem;
				margin: 0 10px;
			}
		}
		.cart {
			display: flex;
			align-items: center;
			margin: 0 10px;
			text-transform: uppercase;
			font-size: 0.75rem;
			font-weight: 500;
			border-right: 1px dotted black;
			cursor: pointer;
			.cart-content {
				width: fit-content;
				position: relative;
				p {
					position: absolute;
					top: -10px;
					right: 15px;
					background-color: red;
					padding: 1px 5px;
					border-radius: 50%;
					color: white;
				}
			}
			svg {
				font-size: 1.25rem;
				margin: 0 20px 0 10px;
			}
		}
		.navbar-last-item {
			display: flex;
			align-items: center;
			svg {
				margin: 5px;
				font-size: 1.25rem;
				cursor: pointer;
			}
		}
	}
}
@media (max-width: 1200px) {
	.cart {
		border: none !important;
		.cart-name {
			display: none;
		}
	}
	.menu-items-content {
		.account {
			p {
				display: none;
			}
		}
	}
	.navbar-last-item {
		display: none !important;
	}
}
@media (max-width: 576px) {
	.menu-items {
		width: fit-content;
	}
}
@media (max-width: 430px) {
	.account {
		svg {
			margin: 0 1px !important;
		}
	}
	.cart {
		svg {
			margin: 0 1px !important;
		}
		p {
			right: -5px !important;
		}
	}
}
@media (max-width: 350px) {
	.account {
		margin: 0 5px !important;
	}
	.cart {
		margin: 0 5px !important;
	}
}
