.product-specs {
	.description {
		font-size: 0.75rem;
		line-height: 23px;
	}
	.specs {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #e7e7e7;
		padding: 20px 0;
		p {
			&:nth-child(1) {
				font-size: 0.75rem;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			&:nth-child(2) {
				text-align: right;
			}
		}
	}
}
