.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100vh;
	z-index: 1;
	transition: 0.3s all;
}
.navlink-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	transition: 0.5s ease-out all;
	.sidebar-toggler {
		position: fixed;
		cursor: pointer;
		display: none;
		top: 0;
		right: 0;
		width: fit-content;
		background-color: red;
		padding: 3px;
		svg {
			color: white;
			font-size: 1.5rem;
		}
	}
	.links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		position: relative;
		svg {
			display: none;
			cursor: pointer;
		}
		.womens-link {
			position: absolute;
			top: 40px;
			left: 0;
			background: white;
			box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
			z-index: 1001;
			border-radius: 5px;
			transition: 0.3s all;
			visibility: hidden;
			opacity: 0;

			a {
				border-bottom: 1px solid #e7e7e7;
				width: auto;
				text-align: left !important;
				color: grey;
				text-transform: none;
				font-weight: normal;
				transition: 0.3s all;
				&:hover {
					color: #4664ec;
					text-decoration: underline;
				}
				&::after {
					display: none;
				}
			}
			.heading {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #e7e7e7;
				p {
					font-size: 0.75rem;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}
		}
		.womens-link-visible {
			visibility: visible;
			opacity: 1;
		}
		.demo-link {
			position: absolute;
			top: 40px;
			left: 0;
			background: white;
			box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
			z-index: 1001;
			border-radius: 5px;
			transition: 0.3s all;
			visibility: hidden;
			opacity: 0;

			a {
				border-bottom: 1px solid #e7e7e7;
				width: auto;
				text-align: left !important;
				color: grey;
				text-transform: none;
				font-weight: normal;
				transition: 0.3s all;
				&:hover {
					color: #4664ec;
					text-decoration: underline;
				}
				&::after {
					display: none;
				}
			}
			.heading {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #e7e7e7;
				p {
					font-size: 0.75rem;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}
		}
		.demo-link-visible {
			visibility: visible;
			opacity: 1;
		}
	}
	a {
		display: block;
		padding: 10px 0;
		width: fit-content;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.75rem;
		position: relative;
		color: black;
		font-weight: 500;
		margin: 0 15px;

		&::after {
			content: '';
			position: absolute;
			bottom: 10px;
			left: 0;
			height: 1px;
			width: 0;
			transition: 0.4s all ease;
			background: black;
		}
		&:hover::after {
			width: 100%;
		}
	}
	.sidebar-mid {
		display: none;
		border-bottom: 1px solid #e7e7e7;
		a {
			color: grey;
			font-weight: 300 !important;
			text-transform: none !important;
			&:hover {
				color: black;
			}
		}
	}
	.sidebar-lang {
		display: none;
		.heading {
			font-size: 0.75rem;
		}
		.lang-content {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.language {
				display: flex;
				align-items: center;
				flex: 1;
				img {
					width: 30px;
				}
				p {
					font-size: 0.85rem;
					margin-left: 5px !important;
				}
			}
		}
	}
	.currency {
		display: none;
		.heading {
			font-size: 0.75rem;
		}
		.curr-content {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.curr {
				min-width: 100px;
				flex: 1;
				display: flex;
				align-items: center;
				img {
					width: 30px;
				}
				p {
					font-size: 0.85rem;
					margin-left: 5px !important;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.navlink-container {
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
		height: 100vh;
		flex-wrap: nowrap;
		justify-content: flex-start;
		background-color: white;
		z-index: 1000;
		width: 250px !important;
		overflow-y: scroll;
		overflow-x: hidden;
		transform: translateX(-100%);
		padding: 2rem 10px;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background: #e0e0e0;
			border-radius: 10px;
		}
		a {
			&::after {
				display: none !important;
			}
		}
		.links {
			border-bottom: 1px solid #dbdbdb;
			transition: 0.3s all;
			svg {
				display: block;
				color: #9b9b9b;
			}
			&:hover {
				background-color: #ececec;
			}
			.womens-link {
				position: fixed;
				top: 0;
				width: 250px;
				height: 100vh;
				padding: 20px 0;
				visibility: visible;
				opacity: 1;
				transition: 0.3s all;
				transform: translateX(-100%);
			}
			.demo-link {
				position: fixed;
				top: 0;
				width: 250px;
				height: 100vh;
				padding: 20px 0;
				visibility: visible;
				opacity: 1;
				transition: 0.3s all;
				transform: translateX(-100%);
			}
		}
		.sidebar-mid {
			display: block;
		}
		.sidebar-lang {
			display: block;
		}
		.currency {
			display: block;
		}
	}
}
.overlay-toggle {
	visibility: visible;
	opacity: 0.5;
}
.toggleSidebar {
	transform: translateX(0);
	&::after {
		width: 100vw;
	}
	.sidebar-toggler {
		display: block;
	}
}
.womens-link-active {
	transform: translateX(0) !important;
}
.demo-link-active {
	transform: translateX(0) !important;
}
