.product-fixed-bottom-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 10px 0;
	z-index: 2;
	background-color: white;
	transition: 0.3s all;
	opacity: 0;
	visibility: hidden;
	.product-fixed-bottom-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		.quantity {
			display: flex;
			align-items: center;
			border: 1px solid grey;
			width: fit-content;
			.subtract {
				padding: 5px 10px;
				border-right: 1px solid grey;
				text-align: center;
				cursor: pointer;
			}
			.number {
				padding: 5px 20px;
				border-right: 1px solid grey;
				text-align: center;
			}
			.add {
				padding: 5px 10px;
				text-align: center;
				cursor: pointer;
			}
		}
		.product-image {
			width: 50px;
			img {
				width: 100%;
			}
		}
		.product-name {
			font-weight: 500;
			font-size: 0.85rem;
		}
		.selector {
			select {
				padding: 8px 0;
				outline: none;
				font-size: 0.75rem;
			}
		}
		.add-to-cart-btn {
			border: 1px solid black;
			outline: none;
			padding: 5px 20px;
			background-color: black;
			color: white;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
			transition: 0.4s all;
			&:hover {
				background: white;
				color: black;
			}
		}
	}
}

@media (max-width: 900px) {
	.product-fixed-bottom-container {
		display: none;
	}
}

.visible {
	opacity: 1;
	visibility: visible;
}
